*/.classpath
*/.metadata
*/.project
*/.settings
.gitignore
*~
application/src/main/generated-source/
application/src/main/generated-entities/
*/target
*/version
version
target
*.log
/application/transformedDefaultData.xml
