*/.classpath
*/.metadata
*/.project
*/.settings
*/bin
.gitignore
*~
application/src/main/generated-source/
application/src/main/generated-entities/
*/target
*/version
version
target
*.log
/application/transformedDefaultData.xml
/application/src/main/resources/org/drugis/addis/entities/instance1.xml
